{% load blog_blurbs %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{% block head_title %}Welcome to my blog{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Local news and commentary about Chelsea New York City">
    <meta name="author" content="">

    {% block entry_meta %}{% endblock %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/latest" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/static/blog/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/css/style.css">
    <link rel="stylesheet" href="/static/blog/css/headers/header1.css">
    <link rel="stylesheet" href="/static/blog/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="/static/blog/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="/static/blog/css/pages/blog.css">
    <link rel="stylesheet" href="/static/blog/css/pages/page_magazine.css">    
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/static/blog/css/themes/default.css" id="style_color">
    <style>
        div.googlesearch .gsc-search-button { box-sizing: content-box; }
    </style>
    {% block styles %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49220407-1', 'hichelsea.com');
      ga('send', 'pageview');

    </script>
</head>	

<body>
{% comment %}
<!--=== Style Switcher ===-->    
<i class="style-switcher-btn icon-cogs hidden-xs"></i>
<div class="style-switcher">
    <div class="theme-close"><i class="icon-remove"></i></div>
    <div class="theme-heading">Theme Colors</div>
    <ul class="list-unstyled">
        <li class="theme-default theme-active" data-style="default" data-header="light"></li>
        <li class="theme-blue" data-style="blue" data-header="light"></li>
        <li class="theme-orange" data-style="orange" data-header="light"></li>
        <li class="theme-red" data-style="red" data-header="light"></li>
        <li class="theme-light last" data-style="light" data-header="light"></li>
    </ul>
    <div style="margin-bottom:18px;"></div>
    <div class="theme-heading">Layouts</div>
    <div class="text-center">
        <a href="blog_medium.html#" class="btn-u btn-u-green btn-block active-switcher-btn wide-layout-btn">Wide</a>
        <a href="blog_medium.html#" class="btn-u btn-u-green btn-block boxed-layout-btn">Boxed</a>
    </div>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->    
{% endcomment %}
<!--=== Top ===-->    
<div class="top">
    <div class="container">         
        {% comment %}
        <ul class="loginbar pull-right">
            <li>
                <i class="icon-globe"></i>
                <a>Languages</a>
                <ul class="lenguages">
                    <li class="active">
                        <a href="blog_medium.html#">English <i class="icon-ok"></i></a> 
                    </li>
                    <li><a href="blog_medium.html#">Spanish</a></li>
                    <li><a href="blog_medium.html#">Russian</a></li>
                    <li><a href="blog_medium.html#">German</a></li>
                </ul>
            </li>
            <li class="devider"></li>   
            <li><a href="page_faq.html">Help</a></li>  
            <li class="devider"></li>   
            <li><a href="page_login.html">Login</a></li>   
        </ul>
        {% endcomment %}
    </div>      
</div><!--/top-->
<!--=== End Top ===-->    
<!--=== Breadcrumbs ===-->
{%comment%} <div class="breadcrumbs ">
    
    <div class="container">
        <h1 class="pull-left">{% block categorySubheader %}{% endblock %}</h1>

        <ul class="pull-right breadcrumb">

            <li><a href="http://www.hichelsea.com">Home</a></li>
            <li class="active">Blog</li>
        </ul>
    </div>
   
</div>{% endcomment %}<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Header ===-->
<div class="header margin-bottom-40" >

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h1>hi chelsea</h1>
                    <img id="logo-header" class="hide" src="/static/blog/img/logo1-default.png" alt="Logo">
                </a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown hide">
                        <a href="blog_medium.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Home
                            <i class="icon-angle-down"></i>
                        </a>
                        {% comment%}
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Option 1: Default Page</a></li>
                            <li><a href="page_home1.html">Option 2: Layer Slider</a></li>
                            <li><a href="page_home2.html">Option 3: Revolution Slider</a></li>
                            <li><a href="page_home3.html">Option 4: Amazing Content</a></li>
                            <li><a href="page_home4.html">Option 5: Home Sidebar</a></li>
                            <li><a href="page_home5.html">Option 6: Home Flatty</a></li>
                            <li><a href="page_home6.html">Option 7: Home Magazine</a></li>
                            <li><a href="page_home7.html">Option 8: Home Portfolio</a></li>
                        </ul>
                        {% endcomment %}
                    </li>
                    
                    <li class="dropdown hide">
                        <a href="blog_medium.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Features
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="feature_grid.html">Grid Layout</a></li>
                            <li><a href="feature_boxes.html">Content Boxes</a></li>
                            <li><a href="feature_typography.html">Typography</a></li>
                            <li><a href="feature_tagline_boxes.html">Tagline Boxes</a></li>
                            <li><a href="feature_buttons.html">Buttons</a></li>
                            <li><a href="feature_icons.html">Icons</a></li>
                            <li><a href="feature_thumbails.html">Thumbails</a></li>
                            <li><a href="feature_components.html">Components</a></li>
                            <li><a href="feature_accardion_and_tabs.html">Accardion and Tabs</a></li>
                            <li><a href="feature_navigations.html">Navigations</a></li>
                            <li><a href="feature_tables.html">Tables</a></li>
                            <li><a href="feature_forms.html">Forms</a></li>
                            <li><a href="feature_testimonials.html">Testimonials</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hide">
                        <a href="blog_medium.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Portfolio
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio_text_blocks.html">Portfolio Text Blocks</a></li>
                            <li><a href="portfolio_2_column.html">Portfolio 2 Columns</a></li>
                            <li><a href="portfolio_3_column.html">Portfolio 3 Columns</a></li>
                            <li><a href="portfolio_4_column.html">Portfolio 4 Columns</a></li>
                            <li><a href="portfolio_item.html">Portfolio Item Option 1</a></li>
                            <li><a href="portfolio_item1.html">Portfolio Item Option 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hide">
                        <a href="blog_medium.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Blog
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="blog_page.html">Blog Page</a></li>
                            <li><a href="blog_large.html">Blog Large</a></li>
                            <li class="active"><a href="blog_medium.html">Blog Medium</a></li>
                            <li><a href="blog_full_width.html">Blog Full Width</a></li>
                            <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog_item_option1.html">Blog Item Option 1</a></li>
                            <li><a href="blog_item_option2.html">Blog Item Option 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hide">
                        <a href="blog_medium.html#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Contacts
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="page_contact1.html">Contacts Default</a></li>
                            <li><a href="page_contact2.html">Contacts Option 1</a></li>
                            <li><a href="page_contact3.html">Contacts Option 2</a></li>
                        </ul>
                    </li>                    
                    <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>

                </ul>
                <div class="search-open">
                    <div class="input-group googlesearch" style="box-sizing: content-box;">
                                <script>
                                  (function() {
                                    var cx = '009385402654609038006:qg_2gz7zcna';
                                    var gcse = document.createElement('script');
                                    gcse.type = 'text/javascript';
                                    gcse.async = true;
                                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//www.google.com/cse/cse.js?cx=' + cx;
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(gcse, s);
                                  })();
                                </script>
                                <gcse:search></gcse:search>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
              
        </div>    
    </div> 
    
</div><!--/header-->
<!--=== End Header ===-->    

<div class="hide container">
    <img class="img-responsive" src='/static/blog/img/chelseawide-med.jpg'/>
</div>

<!--=== Content Part ===-->
<div class="container">
	<div class="row {{ baseContainerClasses|join:" " }}">    
        <!-- Left Sidebar -->
    	<div class="col-md-9 col-lg-9 md-margin-bottom-40">	
		{% block content %}{% endblock %}
		</div>
		 <!-- Right Sidebar -->
    	
    	<div class="col-md-3">

            <!-- Tabs Widget -->
            <div class="tab-v2 margin-bottom-40">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="blog_medium.html#home-1">About Us</a></li>
                    <li><a data-toggle="tab" href="blog_medium.html#home-2">Quick Links</a></li>
                </ul>                
                <div class="tab-content">
                    <div id="home-1" class="tab-pane active">
                        {% get_blurb 'sidebar_about_us' %}                        
                    </div>
                    <div id="home-2" class="tab-pane magazine-sb-categories">
                        <div class="row">
                            <ul class="list-unstyled col-xs-6">
                                <li><a href="blog_medium.html#">Best Sliders</a></li>
                                <li><a href="blog_medium.html#">Parralax Page</a></li>
                                <li><a href="blog_medium.html#">Backgrounds</a></li>
                                <li><a href="blog_medium.html#">Parralax Slider</a></li>
                                <li><a href="blog_medium.html#">Responsive</a></li>
                                <li><a href="blog_medium.html#">800+ Icons</a></li>
                            </ul>                        
                            <ul class="list-unstyled col-xs-6">
                                <li><a href="blog_medium.html#">60+ Pages</a></li>
                                <li><a href="blog_medium.html#">Layer Slider</a></li>
                                <li><a href="blog_medium.html#">Bootstrap 3</a></li>
                                <li><a href="blog_medium.html#">Fixed Header</a></li>
                                <li><a href="blog_medium.html#">Best Template</a></li>
                                <li><a href="blog_medium.html#">And Many More</a></li>
                            </ul>                        
                        </div>
                    </div>
                </div>
            </div>            
            <!-- End Tabs Widget -->
            <!-- Social Icons -->
            <div class="bg-lite magazine-sb-social margin-bottom-30">
                <div class="headline headline-md"><h2>Follow us</h2></div>
                <ul class="social-icons social-icons-color">
                    <li><a class="social_rss" data-original-title="Feed" href="/feeds/latest/"></a></li>
                    <li><a class="social_facebook" data-original-title="Facebook" href="blog_medium.html#"></a></li>
                    <li><a class="social_twitter" data-original-title="Twitter" href="blog_medium.html#"></a></li>
                    
                </ul>
                <div class="clearfix"></div>                
            </div>
            <!-- End Social Icons -->

            {% comment %}<div>
                <div class="headline headline-md"><h2>Upcoming in Chelsea</h2></div>
                <iframe src="https://www.google.com/calendar/embed?title=Upcoming%20Events%20in%20Chelsea&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=hichelseablog%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border:0px " width="300" height="300" frameborder="0" scrolling="no"></iframe>
            </div>
            {% endcomment %}

            {% block recent_posts %}{% endblock %}
            
            {% comment %}
            <div class="headline headline-md"><h2>Search</h2></div>
            <div>     
                <script>
                  (function() {
                    var cx = '009385402654609038006:qg_2gz7zcna';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:search></gcse:search>
            </div>
            {% endcomment %}


        	<!-- Photo Stream -->
        	<div class="headline headline-md"><h2>Photo Stream</h2></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/5.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/6.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/8.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/10.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/11.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/1.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/2.jpg"></a></li>
                <li><a href="blog_medium.html#"><img class="hover-effect" alt="" src="/static/blog/img/sliders/elastislide/7.jpg"></a></li>
            </ul>
            <!-- End Photo Stream -->

        	<!-- Blog Latest Tweets -->
            <div class="blog-twitter">
                <div class="headline headline-md"><h2>Latest Tweets</h2></div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="blog_medium.html#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="blog_medium.html#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="blog_medium.html#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="blog_medium.html#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="blog_medium.html#">@htmlstream</a> 
                    At vero eos et accusamus et iusto odio dignissimos. 
                    <a href="blog_medium.html#">http://t.co/sBav7dm</a> 
                    <span>5 hours ago</span>
                </div>
            </div>
            <!-- End Blog Latest Tweets -->
        </div>
        
        <!-- End Right Sidebar -->
	</div>

</div><!--/container-->		
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>About</h2></div>  
                <p class="margin-bottom-25 md-margin-bottom-40">Hi Chelsea is a blog about Chelsea, New York City.</p>

                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Monthly Newsletter</h2></div> 
                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">                            
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Subscribe</button>
                        </span>
                    </div><!-- /input-group -->                    
                </form>                         
            </div><!--/col-md-4-->  
            {% comment %}
            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="blog_medium.html#"><img src="/static/blog/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="blog_medium.html#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="blog_medium.html#"><img src="/static/blog/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="blog_medium.html#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="blog_medium.html#"><img src="/static/blog/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="blog_medium.html#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                        </dd>
                    </dl>
                </div>
            </div><!--/col-md-4-->
            {% endcomment %}

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div> 
                <address class="md-margin-bottom-40">
                    
                    Email: <a href="mailto:info@hichelsea.com" class="">info@hichelsea.com</a>
                </address>

                <!-- Stay Connected -->
                <div class="headline"><h2>Stay Connected</h2></div> 
                <ul class="social-icons">
                    <li><a href="/feeds/latest" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="blog_medium.html#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="blog_medium.html#" data-original-title="Twitter" class="social_twitter"></a></li>
                    
                </ul>
            </div><!--/col-md-4-->
        </div><!--/row-->   
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">                      
                <p class="copyright-space">
                    2014 &copy; Hi Chelsea. ALL Rights Reserved. 
                    
                </p>
            </div>
            
        </div><!--/row-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/static/blog/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/blog/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/blog/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/blog/plugins/hover-dropdown.min.js"></script> 
<!-- JS Page Level -->           
<script type="text/javascript" src="/static/blog/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();

        jQuery("div.blog_post_display img").addClass('img-responsive');
    });
</script>
<!--[if lt IE 9]>
    <script src="/static/blog/plugins/respond.js"></script>
<![endif]-->

</body>
</html>	