{% extends 'base.html' %} 
{% load thumbnail %}
{% block head_title %}{{ post.title }}{% endblock %}

{% block entry_meta%}
    {% if post.main_photo %}
    <meta property="og:image" content="https://chchchelsea.s3.amazonaws.com/{{post.main_photo}}"/>
    {% endif %}
    <meta property="og:title" content="{{post.title}}"/>
    <meta property="og:url" content="{{post.get_absolute_url}}"/>
    <meta property="og:site_name" content="Hi Chelsea"/>
    <meta property="og:type" content="blog"/>

{% endblock %}

{% block styles%}

{% endblock %}
{% block content %}
<div class="row blog_post_display">
    <div class="post_date_col col-md-2 col-lg-2 visible-lg visible-md">
            <p class="pull-right">{{post.display_date|date:"M d, Y"}}
            </p>
        
    </div>

    <div class="col-md-9 col-lg-9">

        <h2><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
        <div class="clearfix"> 
            <p class="pull-right hidden-lg hidden-md">{{post.display_date|date:"M d, Y"}}
            </p>
            {% if post.categories|length > 0 %}
                <ul class="list-unstyled list-inline blog-tags pull-left">
                    <li>
                        <i class="hide icon-tags"></i>
                        {% for category in post.categories.all %} 
                        <a href="/category/{{category.slug}}">{{ category.title }}</a>
                        {% endfor %}
                        
                    </li>
                </ul>
            {% endif %} 
            <!-- AddThis Button BEGIN -->
            <div class="pull-right addthis_toolbox addthis_default_style addthis_16x16_style"  addthis:url="http://www.hichelsea.com{{post.get_absolute_url}}" addthis:title="{{post.title}}">
             <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_compact"></a>
            </div>
            <!-- AddThis Button END -->
        </div>
       
        

        <div class="blog-img">
            {% if post.main_photo %}
                {% thumbnail post.s3_main_image_url "720" as postImg %}
                <img class="img-responsive" src="{{ postImg.url }}" alt="{{post.main_photo_alt_text}}">
                {% endthumbnail %}
            
            {% endif %}
        </div>
        
        <br><br>
        <div class="post_body">
        {% autoescape off %}
        {{ post.body }}
        {% endautoescape %}
        </div>

       <hr class="margin-bottom-40">
    </div>
</div> 
    <ul class="pager">
        {% if previousPost %}
        <li class="previous"><a href="{{previousPost.get_absolute_url}}">
            &larr; {{previousPost.title}}
        </a></li>
        {% endif %}

        {% if nextPost %}
        <li class="next"><a href="{{nextPost.get_absolute_url}}">{{nextPost.title}} &rarr;</a></li>
        {% endif %}
    </ul>

    <hr>
    <a name="comments"></a>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'hichelsea'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



{% endblock %}


{% block recent_posts %}
<!-- Posts -->
<div class="posts margin-bottom-40">
    <div class="headline headline-md"><h2>Recent Posts</h2></div>
    {% for rp in recentPosts %}
    <dl class="dl-horizontal">
        {% if rp.main_photo %}
        <dt><a href="{{rp.get_absolute_url}}">
            {% thumbnail rp.s3_main_image_url "100x100" crop="80% top" as thumb %}
                <img src="{{ thumb.url }}" alt="thumbnail: {{rp.main_photo_alt_text}}">
            {% endthumbnail %}
        </a></dt>
        {% endif %}
        <dd>
            <p><a href="{{rp.get_absolute_url}}">{{rp.title}}</a></p> 
        </dd>
    </dl>
    {% endfor %}

</div><!--/posts-->
<!-- End Posts -->
{% endblock %}