{% extends 'base.html' %} 

{% block head_title %}{{ post.title }}{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles%}
<style>
    .blog_page a {
      color: #72c02c;
    }
</style>
{% endblock %}
{% block content %}
	<h2>{{ post.title }}</h2>
	<div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="icon-calendar"></i>{{post.posted}}</li>
            {% comment %}
            <li><i class="icon-pencil"></i> Diana Anderson</li>
            <li><i class="icon-comments"></i> <a href="blog_item_option1.html#">24 Comments</a></li>
            {% endcomment %}
        </ul>

        {% if post.categories %}
        <ul class="list-unstyled list-inline blog-tags">
            <li>
                <i class="icon-tags"></i>
                {% for category in post.categories.all %} 
                <a href="/category/{{category.slug}}">{{ category.title }}</a>
                {% endfor %}
                
            </li>
        </ul>
        {% endif %}                                      
    </div>
    <div class="blog-img">
        {% if post.main_photo %}
        <img class="img-responsive" src="https://chchchelsea.s3.amazonaws.com/{{post.main_photo}}" alt="{{post.main_photo_alt_text}}">
        {% endif %}
    </div>
    {% autoescape off %}
    {{ post.body }}
    {% endautoescape %}
{% endblock %}