{% extends 'base.html' %}
{% block head_title %}Hi Chelsea{% endblock %}

{% block categories %}
    <h2>Categories</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    <h2>Posts</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}

{% block content %}

    	{% if posts %}
	        
	        {% for post in posts %}
        	<!--Blog Post-->
            <div class="row blog blog-medium margin-bottom-40">
                <div class="col-md-5">
                    {% if post.main_photo %}
                    <a href="{{ post.get_absolute_url }}"><img class="img-responsive" src="https://chchchelsea.s3.amazonaws.com/{{post.main_photo}}" alt=""></a>
                    {% endif %}
                </div>    
                <div class="col-md-7">
                	<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>{{post.display_date|date:"M d, Y"}}</p>
                    
                	{% autoescape off %}
					{{ post.body|striptags|truncatewords:40 }}
					{% endautoescape %}
                </div>    
            </div>
            <!--End Blog Post--> 
        	<hr class="margin-bottom-40">    
	        {% endfor %}
	        
	        
	    {% else %}
	        <p>There are no posts.</p>
	    {% endif %}
                   
        <ul class="pager">
            {% if posts.has_previous %}
            <li class="previous"><a href="?page={{ posts.previous_page_number }}">
                &larr; Newer
            </a></li>
            {% endif %}

            {% if posts.has_next %}
            <li class="next"><a href="?page={{ posts.next_page_number }}">Older &rarr;</a></li>
            {% endif %}
        </ul>
        
    	{% comment %}
        <!--Pagination-->
         <div class="text-center">
            <ul class="pagination">
                <li><a href="blog_medium.html#">«</a></li>
                <li><a href="blog_medium.html#">1</a></li>
                <li><a href="blog_medium.html#">2</a></li>
                <li class="active"><a href="blog_medium.html#">3</a></li>
                <li><a href="blog_medium.html#">4</a></li>
                <li><a href="blog_medium.html#">5</a></li>
                <li><a href="blog_medium.html#">6</a></li>
                <li><a href="blog_medium.html#">7</a></li>
                <li><a href="blog_medium.html#">8</a></li>
                <li><a href="blog_medium.html#">»</a></li>
            </ul>                                                            
        </div>
        <!--End Pagination-->
        {% endcomment %}
   
{% endblock %}


{% block recent_posts %}
<!-- Posts -->
<div class="posts margin-bottom-40">
    <div class="headline headline-md"><h2>Recent Posts</h2></div>
    {% for rp in recentPosts %}
    <dl class="dl-horizontal">
        {% if rp.main_photo %}
        <dt><a href="{{rp.get_absolute_url}}"><img src="https://chchchelsea.s3.amazonaws.com/{{rp.main_photo}}" alt="{{rp.main_photo_alt_text}}" /></a></dt>
        {% endif %}
        <dd>
            <p><a href="{{rp.get_absolute_url}}">{{rp.title}}</a></p> 
        </dd>
    </dl>
    {% endfor %}

</div><!--/posts-->
<!-- End Posts -->
{% endblock %}